<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="font-weight:bold;">New Thread: started by <%= @author %></div>
    <p>
      <%= link_to @thread, @thread %>
    </p>
  </body>
</html>
